

        body{

            background-color: hsl(334, 12%, 88%);
        }

        .Nome{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 40px;
            font-style: italic;      
            z-index: 2;
            
            
        }

        .foto{
        
       
          

        }

        .descricao{

            
         

        }


        .lista{


        }




        .h2{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }

        .bom-comunicador{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }
        
        .criativo{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }

        .tenho{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }

        .pintar{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }

        .determinação{

            font-family: 'Sofia Sans', sans-serif;
            font-size: 15px;
        }




