

        body{

            background-color: hsl(334, 12%, 88%);
            padding: 3%;
        }

        .desc {
            position: absolute;
            top: 36%;
            right: 35%;
        }

        .h2{

            font-family: 'Sofia Sans', sans-serif;
            font-weight: 300px;
        }

        .bom-comunicador{
            font-size: 15px;
        }
        
        .criativo{
            font-size: 15px;
        }

        .tenho{
            font-size: 15px;
        }

        .pintar{
            font-size: 15px;
        }

        .determinação{
            font-size: 15px;
        }


        




        #minha-foto{
            float: left;
            height: 370px;
            padding: 10px;
            background-color: rgb(14, 16, 14);
            
        } 

        .img-cont{
            height: 385px;
            position: relative;
        }

        .nome{
            text-align: center;
        }

      ul li:nth-child(odd){

        background-color: rgb(13, 182, 126);
      }

      